body {
    background: rgba(254, 242, 192, 0.4);
    font-family: Arial;
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: 1000px;
}

.sadrzaj {
    min-height: 70vh;
    background: rgba(0, 0, 64, 0.3);
    padding: 15px;
}

.sidebar {
    background: rgba(0, 0, 64, 0.1);
    padding: 15px;
}

.page-header {
    color: white;
    margin: 0;
    height: 150px;
    padding-top: 15px;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 64, 0.7) url("../slike/logo.png") no-repeat 30px;
}

.navbar {
    margin-bottom: 10px;
    border-radius: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.navbar .navbar-collapse {
    text-align: center;
    color: white;
}

footer {
    background-color: rgba(0, 0, 64, 0.7);
    margin-top: 10px;
    padding-top: 5px;
    color: white;
    height: 30px;
    border-radius: 0 0 10px 10px;
}

.panel {
    -webkit-box-shadow: 8px 7px 11px 3px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 8px 7px 11px 3px rgba(0, 0, 0, 0.48);
    box-shadow: 8px 7px 11px 3px rgba(0, 0, 0, 0.48)
}

.text-fix {
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap;
    padding: 5px;
}

.text-fix2 {
    display: block;
    display: -webkit-box;
    /*max-width: 160px;*/
    /*height: 200px;*/
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slika-proizvod {
    overflow: hidden;
    height: 300px;
}

.error {
    font-size: 14px;
    color: #CC3C3C;
}

.cursor {
    cursor: -webkit-zoom-in;
}

.korpa > a {
    background: #38C74B;
    color: white !important;
}

.korpa:hover {
    background: #D7FBDC;
    color: black !important;
}

.administrator > a {
    background: #509bc7;
    color: white !important;
}

.administrator:hover {
    background: #a0c7c3;
    color: black !important;
}

textarea {
    resize: vertical;
}

.proizvod {
    height: 400px;
}

.proizvod-opis {
    height: 65px;
    overflow: hidden
}

.flex {
    display: flex;
}

@media screen and (max-width: 960px) {
    .flex {
        display: block;
    }
}

#proizvodModalKolicina {
    width: 50px;
}

#proizvodModalOpis {
    word-wrap: break-word;
}

.modal-footer {
    border-top: none !important;
}

.korpa-proizvodi {
    width: 100%;
}

.korpa-proizvodi thead tr, .korpa-proizvodi tbody tr td {
    padding-bottom: 5px;
}

.suma-korpa {
    border-top: dashed 2px gray;
}

.obavestenje {
    margin-top: 10px;
}

#na-cekanju, #isporucene {
    background-color: #4B4A71;
    padding: 20px;
}